<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="red">
  <ion-grid class="dashboard-container">
    <ion-row class="budget-panel">
      <ion-col>
        <app-wallet [walletValue]="walletValue()"></app-wallet>
      </ion-col>
    </ion-row>
    <ion-row class="income-expense-panel">
      <ion-col>
        <ion-segment
          [(ngModel)]="selectedSegment"
          (ionChange)="onSegmentChanged(selectedSegment)"
        >
          <ion-segment-button value="income">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="expense">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        <app-pie-chart
          [dataSource]="canvasDataSource"
          [labels]="canvasLabels"
        ></app-pie-chart>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
